<div class="ms-3 mt-3">
  <app-llm-prompt></app-llm-prompt>
  <div class="d-flex flex-column gap-3">
    <div *ngFor="let post of posts; let i = index" class="d-flex">
      <div [routerLink]="['/comments', post.id]" style="cursor: pointer;" class="d-flex justify-content-start align-items-center">
        <p class="mb-0" style="width:24px;">{{i + 1}}</p>
        <div style="width:80px; height: 50px; background-color: aqua;" class="mx-2"></div>
      </div>
      <div class="d-flex flex-column align-items-start">
        <div [routerLink]="['/comments', post.id]" class="pointer">
          <strong class="mb-0">{{ post.title }}</strong>
        </div>
        <div class="d-flex gap-2">
          <div [routerLink]="['/comments', post.id]" class="text-button">
            <small>{{post.comments.length - 1}} comments</small>
          </div>
          <div>
            <small>
              <span (click)="deletePost(post.id)" class="text-button">delete</span>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
