<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="auth-container">
    <h2 class="mb-3">Register</h2>
    <app-auth-form [form]="registerForm" formType="register" (onSubmit)="onSubmit()"></app-auth-form>
    <div>
      <small>Don't want to register? </small>
      <small><app-text-button btnClass="text-button-blue" (clickEvent)="onGuestLoginClick()">Login as a Guest</app-text-button></small>
    </div>
    <div>
      <small>Have an account? </small>
      <small><app-text-button btnClass="text-button-blue" (clickEvent)="onLoginClick()">Login</app-text-button></small>
    </div>
  </div>
</div>
