<div class="comment" [ngClass]="{'even': depth % 2 === 0, 'odd': depth % 2 !== 0}" style="border-radius: var(--bs-border-radius); margin-top: -5px">
  <div *ngIf="!isMinimized; else minimized">
    <div class="comment-content d-flex justify-content-start">
      <small>
        <app-text-button (clickEvent)="onMinimizeClick()" btnClass="text-button-blue pb-2">
          [-]
        </app-text-button>
      </small>
      <div class="d-flex justify-content-start flex-column align-items-start ms-2 mb-2">
        <ng-container *ngIf="isEditing; else showComment">
          <input type="text" [(ngModel)]="editContent" class="form-control mb-2" />
          <app-button (clickEvent)="onSaveEdit()" btnClass="btn btn-sm btn-primary">Save</app-button>
          <app-button (clickEvent)="onCancelEdit()" btnClass="btn btn-sm btn-secondary">Cancel</app-button>
        </ng-container>

        <ng-template #showComment>
          <p class="mb-0">{{ comment.content }}</p>
        </ng-template>
        <div>
          <small>
            <app-text-button btnClass="text-button" (clickEvent)="onEditClick()" [btnStyles]="{'color': 'var(--bs-secondary-color)'}">edit</app-text-button>
          </small>
          <small>
            <app-text-button btnClass="text-button" (clickEvent)="onReplyClick()" [btnStyles]="{'color': 'var(--bs-secondary-color)'}">reply</app-text-button>
          </small>
          <small>
            <app-text-button btnClass="text-button" (clickEvent)="onDeleteClick()" [btnStyles]="{'color': 'var(--bs-secondary-color)'}">delete</app-text-button>
          </small>
        </div>
      </div>
    </div>
    <ng-container *ngIf="isReplying">
      <input type="text" [(ngModel)]="replyContent" class="form-control" />
      <app-button (clickEvent)="onSaveReply()" btnClass="btn btn-sm btn-primary">Save</app-button>
      <app-button (clickEvent)="onCancelReply()" btnClass="btn btn-sm btn-secondary">Cancel</app-button>
    </ng-container>
    <div class="replies" *ngIf="comment.replies && comment.replies.length > 0">
      <app-comment *ngFor="let reply of comment.replies;" [comment]="reply" [depth]="depth + 1" (deleteComment)="onDeleteComment($event)"></app-comment>
    </div>
  </div>
  <ng-template #minimized>
    <small class="d-flex justify-content-start align-items-start">
      <app-text-button (clickEvent)="onMinimizeClick()" btnClass="text-button-blue pb-2">
        [+]
      </app-text-button>
    </small>
  </ng-template>
</div>
<app-loading [isLoading]="loading"></app-loading>
