<div class="comment" [ngClass]="{'even': depth % 2 === 0, 'odd': depth % 2 !== 0}" style="border-radius: var(--bs-border-radius); margin-top: -5px">
  <div *ngIf="!isMinimized; else minimized">
    <div class="comment-content d-flex">
      <small>
        <app-text-button (clickEvent)="onMinimizeClick()" btnClass="text-button-blue pb-2">
          [-]
        </app-text-button>
      </small>
      <div class="d-flex justify-content-start flex-column align-items-start ms-2 mb-2">
        <p class="mb-0">{{ comment.content }}</p>
        <ng-container *ngIf="!isReplying">
          <div>
            <small>
              <app-text-button btnClass="text-button" (clickEvent)="onReplyClick()" [btnStyles]="{'color': 'var(--bs-secondary-color)'}">reply</app-text-button>
            </small>
            <small>
              <app-text-button btnClass="text-button" (clickEvent)="onDeleteClick()" [btnStyles]="{'color': 'var(--bs-secondary-color)'}">delete</app-text-button>
            </small>
          </div>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="isReplying" class="d-flex">
      <div>
        <app-adjustable-textarea [(ngModel)]="replyContent"
                                 placeholderStart="Write a reply"
                                 (textSubmit)="onReplyClick()"
                                 name="promptText"
                                 class="w-100">
        </app-adjustable-textarea>
      </div>
      <div class="d-flex justify-content-start gap-2" style="margin-left: 30px">
        <app-button (clickEvent)="onSaveReply()" btnClass="btn btn-sm btn-light" [btnStyles]="{'margin': '10px 0 15px 0'}">Save</app-button>
        <app-button (clickEvent)="onCancelReply()" btnClass="btn btn-sm btn-secondary" [btnStyles]="{'margin': '10px 0 15px 0'}" style="margin: 0">Cancel</app-button>
      </div>
    </ng-container>
    <div class="replies" *ngIf="comment.replies && comment.replies.length > 0">
      <app-comment *ngFor="let reply of comment.replies;" [comment]="reply" [depth]="depth + 1" (deleteComment)="onDeleteComment($event)"></app-comment>
    </div>
  </div>
  <ng-template #minimized>
    <small class="d-flex justify-content-start align-items-start">
      <app-text-button (clickEvent)="onMinimizeClick()" btnClass="text-button-blue pb-2">
        [+]
      </app-text-button>
    </small>
  </ng-template>
</div>
