<div class="mb-3">
  <form (ngSubmit)="onSubmit()" class="d-flex justify-content-start w-50">
    <app-adjustable-textarea [(ngModel)]="promptText"
                             placeholderStart="Create a post"
                             (textSubmit)="onSubmit()"
                             name="promptText"
                             class="w-100"
                             [textareaStyles]="{'border-top-right-radius':'0', 'border-bottom-right-radius':'0'}">
    </app-adjustable-textarea>
    <app-button btnClass="btn btn-light"
                [disabled]="!promptText || loading"
                [btnStyles]="{ 'border-top-left-radius': '0', 'border-bottom-left-radius': '0', 'height': '100%' }"
                [submitType]="true">Post</app-button>
  </form>
  <div *ngIf="response; else error">
    <p>{{ response }}</p>
  </div>
  <ng-template #error>
    <div class="w-50">
      <app-error-message></app-error-message>
    </div>
  </ng-template>
</div>
