
.comment {
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 1px solid var( --bs-border-color-translucent);
}

  .comment :not(:first-child) {
    margin-left: 20px
  }

  .comment.even {
    background-color: var(--bs-tertiary-bg)
  }

  .comment.odd {
    background-color: var(--bs-secondary-bg)
  }

.text-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}
