<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="auth-container">
    <h2 class="mb-3">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-2">
      <div class="form-group form-group d-flex flex-column align-items-start">
        <small><label for="username" class="ms-2">Username</label></small>
        <input type="text" class="form-control" style="padding: 9px 12px;" id="username" formControlName="username" required>
      </div>
      <div class="form-group form-group d-flex flex-column align-items-start">
        <small><label for="password" class="ms-2">Password</label></small>
        <input type="password" class="form-control" style="padding: 9px 12px;" id="password" formControlName="password" required>
      </div>
      <app-button [submitType]="true" btnClass="btn btn-light mt-3 mb-2" [disabled]="loginForm.invalid">Login</app-button>
    </form>
    <div><small>Don't want to register? </small><small><app-text-button btnClass="text-button-blue" (clickEvent)="onGuestLoginClick()">Login as a Guest</app-text-button></small></div>
    <div><small>Don't have an account? </small><small><app-text-button btnClass="text-button-blue" (clickEvent)="onRegisterClick()">Register</app-text-button></small></div>
  </div>
</div>
