<div class="d-flex">
  <div [routerLink]="['/comments', post.id]" style="cursor: pointer;" class="d-flex justify-content-start align-items-center">
    <p class="mb-0" style="width:24px;">{{index + 1}}</p>
    <div style="width: 80px; height: 50px; background-color: var(--bs-secondary-bg); border-radius: var(--bs-border-radius);" class="d-flex justify-content-center mx-2">
      <img src="/assets/Icon.svg" class="thumbnail-svg" />
    </div>
  </div>
  <div class="d-flex flex-column align-items-start">
    <div [routerLink]="['/comments', post.id]" class="pointer">
      <strong class="mb-0">{{ post.title }}</strong>
    </div>
    <div class="d-flex gap-2">
      <div [routerLink]="['/comments', post.id]">
        <small>
          <app-text-button btnClass="text-button" [btnStyles]="{'color': 'var(--bs-secondary-color)'}">{{post.comments.length - 1}} comments</app-text-button>
        </small>
      </div>
      <div>
        <small>
          <app-text-button btnClass="text-button" (clickEvent)="onDeletePost()" [btnStyles]="{'color': 'var(--bs-secondary-color)'}">delete</app-text-button>
        </small>
      </div>
    </div>
  </div>
</div>
